*{
    margin: 0;
    padding: 0;
    font-family: 'segoe ui';
}
/*Atas*/
.logo {
    margin: 2% 8%;
}
.judul {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 180px;
    border: 2px solid white;
    border-radius: 30px;
    background: rgb(0, 0, 0, 0);
}
.tombolmasukdaftar {
    float: right;
    list-style-type: none;
}
.tombolmasukdaftar li {
    display: inline-block;
    margin-top: 22%;
}
.masuk a{
    background: #3399ff;
    border: 1px solid #3399ff;
    border-radius: 30px;
    padding: 5px 20px;
    margin-right: 80px;
    font-family: 'segoe ui';
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.masuk a:hover {
    background-color: #fff;
    color: #3399ff;
    border: 1px solid white;
    transition: ease-in 0.5s; 
}
.daftar a{
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 10px;
    padding: 5px 20px;
    font-family: 'segoe ui';
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.daftar a:hover {
    background-color: #fff;
    color: #3399ff;
    border: 1px solid white;
    transition: ease-in 0.5s; 
}
.lihatlainnya {
    float: right;
    list-style-type: none;
    color: white;
    margin-right: 10%;
    margin-top: 7%;
    font-size: 18px;
}
.lihatlainnya:active {
    transition: all 1s;
}
.nama{
    margin-top: 6%;
    margin-left: 10%;
    color: white;
    font-size: 14px;
}
/*Bawah*/
.footer {
    background: #006a8a;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
.footer p {
    color: white;
    text-align: center;
}
.footer ul {
    text-align: center;
}
.footer ul li {
    display: inline-block;
    padding-bottom: 3%;
}
